// Colors
$brand-primary: #5b4681;
$purple: #5b4681;
$grey: #dddddd;
$light-grey: #f9f9f9;
$dark-grey: #777777;
$special-grey: #e8e8e8;

// Spacing
$space: 1.3rem;
$input-spacing: 1rem;
$site-max-width: 50rem;

// Font sizes
$base-font-size: 1.4rem;
$small-font-size: 1.2rem;
$large-font-size: 2.4rem;

// Font families
$base-font-family: Helvetica, Arial, sans-serif;

// header
$header-bg: $brand-primary;
$header-color: white;

// Form inputs
$input-border: $grey;

// Buttons
$button-bg: $brand-primary;
$button-color: white;
$button-secondary-bg: $light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: $grey;

// Button Pill
$button-pill-bg: transparent;
$button-pill-color: $brand-primary;
$button-pill-margin: ($space / 2); // .3rem;
$button-pill-padding: .3rem .8rem;
$button-pill-font-size: $small-font-size;

// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;

// Item
$item-bg: $light-grey;
$item-border: darken($item-bg, 8%);

// item text Color
$item-text-color: $dark-grey;
