.button {
  background-color: $button-bg;
  color: $button-color;
  border: none;
  cursor: pointer;
  font-size: $base-font-size;
  text-transform: uppercase;
  padding: $input-spacing;
  margin-bottom: $space;
  line-height: 1.2;
}

.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--link-text {
  background-color: transparent; // OR none
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-transform: none;
}

.button--pill {
  font-size: $button-pill-font-size;
  background-color: $button-pill-bg;
  color: $button-pill-color;
  border: 1px solid $button-pill-color;
  margin: 0 $button-pill-margin 0 0;
  padding: $button-pill-padding;
}

.button--block {
  display: block;
  width: 100%;
}

.button--secondary {
  background: $button-secondary-bg;
  color: $button-secondary-color;
  border: 1px solid $button-secondary-border-color;
}
